* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;
}

html, body {
  overflow-x: hidden;
}


body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  text-align: center;
}


.navbar {

  font-family: Poppins, sans-serif;
  position: sticky;
  padding-top: 10px;
  z-index: 1000;
  font-size: x-large;
}

.navbar-nav {
  margin-left: 90px;
}


.nav-link {
  color: black !important;
  margin-left: 30px;
  font-size: 20px;
}


.navbar a {
  text-decoration: none;
  color: rgb(14, 13, 13)60, 148, 148;
  position: relative;
  padding-bottom: 5px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.sec {
  display: flex;
  ;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-family: Poppins;
  margin-top: 60px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.sec p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: #888787;
}

#brand {


  font-size: 35px;
  text-decoration: none;
  color: #080707;
  font-weight: 400;
  
}

.button {
  height: 50px;
  width: 180px;
  position: relative;
  background-color: transparent;    
  cursor: pointer;
  border: 2px solid #000000;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color:
    #292727;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
  
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
  
}

.icon i {
  margin-top: 25px;
  font-size: 32px;
 color:black
}

.down {

  margin-left: 1280px;
  font-size: 30px;
  margin-bottom: 10px;
}

/* about */


.container {
  margin-top: 50px;
  font-family: Poppins, sans-serif;
}

#title2 {
  text-align: center;
  margin-bottom: 50px;
}

#title2 h1 {
  font-size: 48px;
  font-weight: 500;
}

.img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 2rem;
  margin-left: 40px;
}

.icon {
  font-size: 25px;
  padding-bottom: 10px;
}

#ee {
  gap: 30px;
  margin-left: 2.5rem;

}

#exp {
  text-align: center;
  flex: 1;
  padding: 1.5rem;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#edu {
  text-align: center;
  flex: 1;
  padding: 1.5rem;
  padding: 24px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

.para1 {
  margin-left: 1.5rem;
  padding: 50px 20px 0px 0px;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  text-indent: 10px;

}

/* Experience */
.Experience {
  font-family: Poppins, sans-serif;
}

#title3 {

  padding-bottom: 50px;
  text-align: center;


  h1 {
    text-align: center;
    padding-top: px;
    font-size: 48px;
    font-weight: 500;

  }
}

#Frontend {
  padding: 20px 20px 20px 20px;
}

#Backend {
  padding: 20px 20px 20px 20px;
}

.skill-item {
  display: flex;
  padding: 50px 20px 10px 0;
  gap: 30px;
}

.skill-item i {
  padding: 10px;
  font-size: 20px;
}

#mainskill {
  padding-right: 2rem;

  h2 {
    color: rgb(150, 145, 145);
    font-size: 35px;
    text-align: center;
  }
}

/* contact */
.contact {
  font-family: Poppins, sans-serif;
}

.title4 {

  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 500;

  }
}

#mine {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 50px;
  margin: 70px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}


/* contact */


#cinfo {
  padding: 25px;
  border-radius: 30px;

}

.title4 {
  margin: 70px;
}

i {
  font-size: 23px;
}

.copy {
  margin-top: 60px;
  margin-bottom: 30px;

}
#nav2{
  margin-right:100px;
}